.CountryScreen {
    display: grid;
    grid-template-rows: 40px 40px 200px 300px 40px;
    grid-template-columns: repeat(6, minmax(100px, 3fr));
    grid-gap: 0.5rem;
}

.CountryScreen__name{
  grid-row: 1/2;
}
.CountryScreen__about{
    grid-row: 3/5;
    grid-column: 1/4;
}
.CountryScreen__link{
    grid-row: 0;
    grid-column: 3/5;
}
.CountryScreen__btn{
    grid-row: 0;
    grid-column: 6/7;
  }