.carousel-countainer {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 992px;
  grid-row: 4/5;
  grid-column:1/7;

  p {
    &::after {
      content: '. . .';
      position: absolute;
      width: 60px;
      height: 20px;
      background: linear-gradient(269.76deg, #FFFFFF 62.83%, rgba(255, 255, 255, 0) 145.7%);
      bottom: 0;
      right: 1px;
    }
  }
}

.slick-arrow {
  &::before {
    color: black;
  }
}