@import "../../styles/index.scss";

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;

  .footer-logo {
    height: 25px;
    pointer-events: none;
  }
  
  .about-us {
  
    a {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 14vw;
    }
  }

}
