.LoginForm {

    .auth__form {
        margin-bottom: 5vh;
    }
    .field {
        margin: 5vh;
        
    }

    .auth__return {
        text-decoration: none;
    }

    .error-message {
        margin-top: 5vh;
    }
}
